
<div ng-controller = "signupController">
    <h2>{{title}}</h2>

    <h3>First Name</h3>
    <input name = "firstname" type = "text" required><br>
        
    <h3>Last Name</h3>
    <input name = "lastname" type = "text" required><br>
        
    <h3>Email Address</h3>
    <input name = "email" type = "text" required><br>
        
    <h3>Username</h3>
    <input name = "username" type = "text" required><br>
        
    <h3>Password</h3>
    <input name = "password" type = "text" required><br>
    <button>Submit Information</button>
</div>

